<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="50">
    <title>{% block title %}Vítejte!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div style="padding: 30px; background-color:lightskyblue;">

    <div class="row">
        <div class="col-sm-12" style="text-align:center; font-weight: bold;">D A S H B O A R D - Ú D R Ž B A</div>

    </div>


    <div class="row">
        <div class="col-sm-8" style="text-align:center; background-color:white;">
            <table border="1" width="100%">
                <tr><th colspan="8" bgcolor="#87cefa">PŘEHLED DENNÍCH PŘÍPADŮ</th></tr>
                <tr>
                    <th>Pořadí</th><th>ID úkolu</th><th>Priorita</th><th>Pracoviště</th><th>Datum a čas vzniku</th><th>Čas potvrzení</th><th>Status</th><th>Řešitel</th>
                </tr>
                {% set poradi = 0 %}
                {% for poruchy in a %}
                    <tr>
                        {%  set poradi = poradi + 1 %}
                        <td> {{ poradi }}
                        <td>{{ poruchy.id }}</td>
                        <td>{{ poruchy.priorita }}</td>
                        <td>{{ poruchy.stroj }}</td>
                        <td>{{ poruchy.casvzniku|date('Y-m-d H:i:s')}}</td>
                        <td>cas potvrzeni</td>
                        <td class="text-white {{ poruchy.vyreseno is not null ? 'bg-success' : 'bg-danger' }}">
                            {% if poruchy.vyreseno is not null %}
                                vyřešeno
                            {% else %}
                                nevyřešeno
                            {% endif %}


                        </td>
                        <td>
                            {% for p in poruchy.prevzate %}
                                {{p.idPracovnika.prijmeni}} {{p.idPracovnika.jmeno}}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tr>
            </table>

        </div>
        <div class="col-sm-4" style="background-color:white;">
            <table border="1" width="100%">
                <tr><th colspan="8" bgcolor="#87cefa">&nbsp;</th></tr>
                <th colspan="8" align="ceter">Nepřiřazené úkoly</th>
                <tr>

                    {% for neprirazene in n %}
                <tr>
                    <td>{{ neprirazene.id }}</td>
                    <td>{{ neprirazene.priorita }}</td>
                    <td>{{ neprirazene.casvzniku|date('Y-m-d H:i:s')}}</td>
                    <td class="text-white bg-danger">nepřiřazeno </td>
                </tr>
                {% endfor %}

            </table>
            <br><br>
            <table border="1" width="100%">
                <th colspan="8" align="ceter">Pracovníci údržby</th>
                <tr>

                </tr>
                <td style="font-weight: bold; text-align: center">Jméno</td><td style="font-weight: bold; text-align: center">Status</td><td style="font-weight: bold; text-align: center">Pracoviště</td><td style="font-weight: bold; text-align: center">OD</td><td style="font-weight: bold; text-align: center">DO</td>

                {% for prac in p %}
                    <tr>
                        <td> {{prac.prijmeni}} {{prac.jmeno}}<br></td>


                        {% if prac.vyreseno is not null %}
                            <td class="text-white bg-success"> vyřešeno</td>
                        {% elseif prac.prevzetidatcas is null %}
                            <td class="text-white bg-info"> není určeno</td>
                        {% else %}
                            <td class="text-white bg-warning"> probíhá oprava</td>
                        {% endif %}




                        <td> {{prac.stroj}}</td>
                        {% if prac.prevzetidatcas is not null %}
                            <td>{{ prac.prevzetidatcas|date('Y-m-d H:i:s')}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if prac.vyreseno is not null %}
                            <td>{{ prac.vyreseno|date('Y-m-d H:i:s')}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>

                {% endfor %}
            </table>
            <br><br>
            <table border="1" width="100%">
                <tr>
                    <th colspan="8" align="ceter">Denní přehled uskutečněných oprav</th>
                </tr>
                <tr>
                    <td>Počet otevřených úkolů</td><td colspan="3">{{o}}</td>
                </tr>
                <tr>
                    <td>Počet případů bez notifikace</td><td colspan="3">{{ b }}</td>
                </tr><tr>
                    <td>Počet uzavřených případů</td><td>{{u}}</td><td>&sum;

                        času (h)</td><td>{{ s }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>