{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' with {'zalozka': 12} %}
<div class="container">
    <h1>Seznam kontaktních osob firmy {{ firma.nazev }}</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Přijmeni</th>
                <th>Pozice</th>
                <th>Email</th>
                <th>Telefón</th>
                <th>Poznámka</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for kontaktniOsoba in kontaktniOsobas %}
            <tr>
                <td>{{ kontaktniOsoba.id }}</td>
                <td>{{ kontaktniOsoba.jmeno }}</td>
                <td>{{ kontaktniOsoba.prijmeni }}</td>
                <td>{{ kontaktniOsoba.pozice }}</td>
                <td>{{ kontaktniOsoba.email }}</td>
                <td>{{ kontaktniOsoba.telefon }}</td>
                <td>{{ kontaktniOsoba.poznamka }}</td>
                <td>
                    <a href="{{ path('kontaktniosoba_delete', {'id': kontaktniOsoba.id })}}" class="btn btn-danger" onclick="return confirm('Opravdu si přejete smazat kontaktní osobu??')" title="Odstranit kontaktní osobu">
                        <span class="fa fa-trash"></span>
                    </a>


                    <a href="{{ path('kontaktniosoba_edit', { 'id': kontaktniOsoba.id, 'firma': firma.id }) }}" class="btn btn-info" title="Upravit">
                    <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('kontaktniosoba_new',{ 'firma': firma.id }) }}"class="btn btn-success"><span class="fa fa-plus"></span>Vytvořit novou kontaktní osobu</a>
{% endblock %}
