{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Stroje{% endblock %}

{% block body %}
	{% include 'menu.html.twig' with {'zalozka': 4} %}
    <div class="container">
        <div class="border-bottom pb-1 mt-4 mb-3">
            <h1 class="text-center">Stroje</h1>
        </div>

        <a href="{{ path('stroj-upravit')}}" class="btn btn-success mb-3"><span class="fa fa-plus"></span> Přidat nový stroj</a>

        <div id="collapseParent">
            {% for stroj in stroje %}
                    <div class="collapse mt-2 mb-4" id="collapseExample{{ stroj.id }}" data-parent="#collapseParent">
                        <div class="card">
                            <div class="card-header">
                                Upravit stroj
                            </div>
                            <div class="card-body">
                                <p class="card-text">Vyberte podkategorii k úpravě</p>
                                <a class="btn btn-primary" href="{{ path("stroj-upravit", {'stroj': stroj.id}) }}" title="Upravit stroj">Stroj</a>
                                <a class="btn btn-primary" href="{{ path("stroj-upravit-kmenova-data", {'stroj': stroj.id}) }}" title="Upravit kmenová data stroje">Kmenová data</a>
                                <a class="btn btn-primary" href="{{ path("nastroj-index", {'stroj': stroj.id}) }}" title="Upravit nástroje stroje">Nástroje</a>
                                <a class="btn btn-primary" href="{{ path("pripravek-index", {'stroj': stroj.id}) }}" title="Upravit přípravky stroje">Přípravky</a>
                                <a class="btn btn-primary" href="{{ path("nahradni-dil-index", {'stroj': stroj.id}) }}" title="Upravit náhradní díly stroje">Náhradní díly</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {#{{ grid_service.render(grid)|raw }}#}
        {% for stroj in stroje %}
        {% if loop.first %}
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">ID (1P Control)</th>
                    <th class="text-center" scope="col">Název</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Aktivní</th>
                    <th class="text-center" scope="col">Skupina</th>
                    <th class="text-center" scope="col">Lokace</th>
                    <th class="text-center" scope="col">Obrázky</th>
                    <th class="text-center" scope="col">Operace</th>
                </tr>
                </thead>
                <tbody>
        {% endif %}
        <tr>
            <td class="text-center">
                {{ stroj.id1pcontrol }}
            </td>
            <td class="text-center">
                {{ stroj.nazev }}
            </td>
            <td class="text-center">
                {{ stroj.status }}
            </td>
            <td class="text-center">
                {% if stroj.jeAktivni %}ANO{% else %}NE{% endif %}
            </td>
            <td class="text-center">
                {% if stroj.skupina is not null %}
                    {{ stroj.skupina.nazev }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if stroj.lokace is not null %}
                    {{ stroj.lokace.nazev }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if stroj.kmenovaData is not null %}
                    {% if stroj.kmenovaData.obrazek1 is not null %}
                        <a href="{{ asset('uploads/kmenova_data_images/' ~ stroj.kmenovaData.obrazek1) }}" data-lightbox="roadtrip{{ stroj.id }}" data-title="Obrázek 1"><span class="fa fa-2x fa-image"></span></a>
                    {% endif %}
                    {% if stroj.kmenovaData.obrazek2 is not null %}
                        <a href="{{ asset('uploads/kmenova_data_images/' ~ stroj.kmenovaData.obrazek2) }}" data-lightbox="roadtrip{{ stroj.id }}"  data-title="Obrázek 2" class="d-none"></a>
                    {% endif %}
                    {% if stroj.kmenovaData.obrazek3 is not null %}
                        <a href="{{ asset('uploads/kmenova_data_images/' ~ stroj.kmenovaData.obrazek3) }}" data-lightbox="roadtrip{{ stroj.id }}"  data-title="Obrázek 3" class="d-none"></a>
                    {% endif %}
                {% endif %}
            </td>


            <td class="text-center">
                <a data-toggle="collapse" href="#collapseExample{{ stroj.id }}" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-info" title="Upravit stroj">
                    <span class="fa fa-pencil"></span>
                </a>
                <a href="{{ path('stroj-smazat', {'stroj': stroj.id})}}" class="btn btn-danger" onclick="return confirm('Opravdu si přejete smazat vybraný stroj?')" title="Odstranit stroj">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
        {% if loop.last %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>Zatím nejsou zadány žádné stroje.</p>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}