{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Stroje{% endblock %}

{% block body %}
	{% include 'menu.html.twig' with {'zalozka': 4} %}
    <div class="container">
        <div class="border-bottom pb-1 mt-4 mb-3">
            <h1 class="text-center">Stroje</h1>
        </div>
		<p>
            <a href="{{ path('stroj-upravit')}}" class="btn btn-success"><span class="fa fa-plus"></span> Přidat nový stroj</a>
		</p>
    {% for stroj in stroje %}
        {% if loop.first %}
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Old ID</th>
                    <th class="text-center" scope="col">Název</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Skupina</th>
                    <th class="text-center" scope="col">Lokace</th>
                    <th class="text-center" scope="col">Operace</th>
                </tr>
                </thead>
                <tbody>
        {% endif %}
        <tr>
            <td class="text-center">
                {{ stroj.idOld }}
            </td>
            <td class="text-center">
                {{ stroj.nazev }}
            </td>
            <td class="text-center">
                {{ stroj.status }}
            </td>
            <td class="text-center">
                {% if stroj.skupina is not null %}
                    {{ stroj.skupina.nazev }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if stroj.lokace is not null %}
                    {{ stroj.lokace.nazev }}
                {% endif %}
            </td>


            <td class="text-center">
                <a href="{{ path('stroj-upravit', {'stroj': stroj.id})}}" class="btn btn-info" title="Upravit stroj">
                    <span class="fa fa-pencil"></span>
                </a>
                <a href="{{ path('stroj-smazat', {'stroj': stroj.id})}}" class="btn btn-danger" onclick="return confirm('Opravdu si přejete smazat vybraný stroj?')" title="Odstranit stroj">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
        {% if loop.last %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>Zatím nejsou zadány žádné stroje.</p>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}