{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Přihlášení{% endblock %}

{% block body %}
	{% include 'menu.html.twig' with {'zalozka': 1, 'logged': false} %}

    <div class="container">
        <div class="border-bottom pb-1 mt-4 mb-3">
            <h1 class="text-center">Toto je zabezpečený systém. Pokračujte tím, že se přihlásíte.</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-7">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}


                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <button type="submit" class="btn btn-success btn-block">Přihlásit se</button>
                {{ form_end(form) }}

                {#
                <form action="{{ path('login') }}" method="post">
                    <label for="username">E-mail:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Heslo:</label>
                    <input type="password" id="password" name="_password" />

                    <button type="submit">Přihlásit se</button>
                </form>
                #}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}